body{
    background: #fff5f5;
}

/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

/* Profile Tabs*/
.profile-tabs{
    float: none;
    width: 100%;
}

/* Column Profile*/
.column-profile{
    float: left;
    border-style: solid;
    width: 33.33%;
    padding: 30px;
    height: 100%;    
}


/* User Profile*/
.user-profile-pic img {
    display: block;    
    margin: auto auto;
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

.profile-title-container{
    text-align: center;
    margin-top: 32px;
}

.profile-title-name {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}
.current-school-title{
    font-size: 12px;
    font-weight: 400;
}

.mid-column{
    float: left;
    border-style: solid;
    width: 66.67%;
    height: 100%;
}

.profile-content{
    border-style: solid;
}