body{
    background: #F8F8F8;
}

/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
}

/* Profile Tabs*/
.profile-tabs{
    float: none;
    width: 100%;
}

/* Column Profile*/
.column-profile{
    float: left;
    width: 30%;
    padding: 30px 0px 0px 0px;
    height: 100%;    
}


/* User Profile*/
.user-profile-pic img {
    display: block;    
    margin: auto auto;
    width: 60%;
    height: 100%;
    border-radius: 50%;
}

.profile-title-container{
    text-align: center;
    margin-top: 32px;
}

.profile-title-name {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}
.current-school-title{
    font-size: 14px;
    font-weight: 400;
}