/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #F5FFFF;
    /*background-color: #F5FFFF;*/
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #fff5f5;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #F5FFFF;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border:  #fff5f5;
    border-top: none;
  }